<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@600&family=Nunito&display=swap"
      rel="stylesheet"
    />
    <title>Contact-us</title>
  </head>

  <body>
    <img src="../../../assets/W3-real-estate-sunscreen-2.jpg" id="bg-image" />

    <div class="main-container">
      <div class="header-text">
        <p>Get in Touch!</p>
      </div>
      <div class="container">
        <div class="main-content">
          <div class="main-content-left">
            <img src="../../../assets/phone-call-5826.svg" />
            <p style="margin-bottom: 0; margin-top: 0">
              <a href="tel:8087092324">+91 8087092324</a>
            </p>
            <p style="margin-bottom: 0; margin-top: 0">
              <a href="tel:9403944507">+91 9403944507</a>
            </p>
            <div class="email-wrap">
              <img src="../../../assets/email-96.png" />
              <p style="margin-bottom: 0; margin-top: 0">
                <a href="#">wsquare.data@gmail.com</a>
              </p>
            </div>
            <p style="margin-bottom: 0">
              Feel free to contact us for more information.
            </p>
          </div>
          <form
            [formGroup]="contactForm"
            (submit)="onSubmit(contactForm.value)"
          >
            <div class="main-content-right">
              <input
                type="text"
                name="name"
                formControlName="name"
                placeholder="Enter your name"
              />
              <div
                class="alert"
                *ngIf="
                  contactForm.controls.name.touched &&
                  !contactForm.controls.name.valid
                "
              >
                <span>Name is required.</span>
              </div>
              <input
                type="text"
                name="phoneNumber"
                formControlName="phoneNumber"
                placeholder="Enter phone number"
              />
              <div
                class="alert"
                *ngIf="
                  contactForm.controls.phoneNumber.touched &&
                  !contactForm.controls.phoneNumber.valid
                "
              >
                <span> Phone Number is required.</span>
              </div>
              <button type="submit" class="submit-button">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
